.item {
    background: #fff;
    border-radius: 2px;
    display: inline-block;
    height: 130px;
    /* margin: 1rem; */
    position: relative;
    width: 130px;
    margin-right: 0.3%;
    margin-top: 0.3%;
}

.item-2:hover {
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.25), 0 5px 10px rgba(155, 96, 96, 0.22);
    transition: box-shadow 0.3s ease-in-out;
}

.item-2 {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.16), 0 2px 4px rgba(0, 0, 0, 0.23);
}

#first {
    height: 20%;
}

#first > p {
    text-align: center;
    margin: auto;
    font-weight: 200;
    color: rgb(105, 105, 105);
}

#middle {
    padding-top: 5%;
    height: 60%;
}

#middle > img {
    display: block;
    margin: auto;
    margin-top: 0px;
    max-width: 35%;
    height: auto;
}

#end {
    height: 20%;
    text-align: center;
}

#high {
    margin-left: 35%;
    font-weight: 500;
    color: rgb(54, 54, 54);
}

#low {
    margin-left: 5%;
    font-weight: 300;
    color: rgb(131, 131, 131);
}