.card {
    background: white;
    border-radius: 2px;
    display: inline-block;
    height: 400px;
    margin: 1rem;
    position: relative;
    width: 400px;
}

.card-3:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(155, 96, 96, 0.22);
    transition: box-shadow 0.3s ease-in-out;
}

.card-3 {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

#title {
    height: 20%;
}

#title > div.col-md-7 > h2 {
    margin-left: 10%;
    margin-top: 7%;
    margin-bottom: 0%;
    color: rgb(105, 105, 105);
}
#title > div.col-md-7 > p {
    margin-left: 10%;
    margin-top: 2%;
    font-size: 14px;
    margin-bottom: 0%;
    color: rgb(138, 138, 138);
}

#title > div.col-md-5 > p, span{
    margin-left: 10%;
    margin-top: 16%;
    font-size: 16px;
    margin-bottom: 0%;
    color: rgb(138, 138, 138);
}

#title > div.col-md-5 > span {
    margin-top: 1%;
}

#body {
    padding-top: 5%;
    height: 52%;
}

#body > div.col-md-6 > p {
    color: rgb(66, 66, 66);
    font-size: 120px;
    text-align: center;
    margin-bottom: 0%;
}

#body > div.col-md-6 > img {
    position: inherit;
    display:inline-block;
    margin:auto;
    margin-left: 5%;
    width: 95%;
    height: auto;
}


#footer {
    height: 25%;
    margin: 0px;
}