.hourly {
    background: white;
    border-radius: 2px;
    display: inline-block;
    height: 100%;
    margin: 0px;
    width: 25%;
}

#up {
    height: 20%;
    margin: 0%;
}

#up > p {
    text-align: center;
    margin: auto;
    font-weight: 320;
    color: rgb(105, 105, 105);
}

#mid {
    padding-top: 5%;
    height: 55%;
    margin: 0%;
}

#mid > img {
    display: block;
    margin: auto;
    margin-top: 5%;
    max-width: 40%;
    height: auto;
}

#down {
    height: 25%;
    margin: 0%;
    text-align: center;
}

#down > p {
    margin-left: auto;
    margin-right: auto;
}